header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.menu {
    display: flex;
    column-gap: 25px;
}

.menu li {
    cursor: pointer;
}